.topPack {
    padding: 10px 5px;
    background-color: rgba(56, 51, 78, 0.6);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: #7876d6;
    align-content: center;
    text-align: center;
    width: 140px;
    margin: 15px;
}

.logoWrapper {
    margin: auto;
    width: 120px;
    height: 120px;
}

.logoWrapper:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 120px;
    max-height: 120px;
}
span {
    display: block;
}

.name {
    color: #aeaeb6;
    display: block;
    font-size: 14px;
    overflow: hidden
}

.info {
    font-size: 14px;
}