.topPack {
    padding: 10px;
    background-color: rgb(75, 75, 75);
    border-radius: 7.5px;
    color: #feffe0;
    align-content: center;
    text-align: center;
    width: 140px;
    margin: 20px;
}

.logo {
    height: 75px;
}
span {
    display: block;
}

.name {
    color: #aeaeb6;
}

.info {
    font-size: 14px;
}