.topPack {
    padding: 10px 5px;
    background-color: rgba(124, 144, 206, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    color: #afafae;
    align-content: center;
    text-align: center;
    width: 140px;
    margin: 15px;
}

.logoWrapper {
    margin: auto;
    width: 120px;
    height: 120px;
}

.logoWrapper:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 120px;
    max-height: 120px;
}
span {
    display: inline-block;
}

.name {
    color: #aeaeb6;
    display: block;
    font-size: 12px;
    overflow: hidden
}

.topPackInfo{
    display: inline-block;
    vertical-align: bottom;
}

.info {
    font-size: 13px;
}

.Chart {
    position: absolute;
    transform: translateY(-120px);
    margin-left: 12px;
}

.installed:hover {
    color: rgb(83, 135, 204) !important;
}

.used:hover {
    color: rgb(62, 137, 128) !important;
}

b {
    font-weight: 500;
}

@media screen and (max-width: 414px) {
    span {
        display: block;
    }

    .topPack p {
        display: none;
    }

    b {
        display: block;
        margin-top: 12px;
    }

    .info {
        overflow: hidden;
    }

    .topPack {
        width: 86%;
    }

    .logoWrapper {
        float: left;
    }

    .Chart {
        transform: translate(-15px, -30px);
    }
}
