body {
  background-color: #131313;
  color: #cecece;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding-left: 25px;
  text-align: left;
  font-size: 2rem;
}
h1, h2, h5, h6 {
  font-weight: lighter !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

#root {
  max-width: 1200px;
  margin: 15px auto;
}

a {
  text-decoration: none;
}

iframe {
  border-radius: 10px;
}

canvas {
  width: 120px !important;
  height: 120px !important;
}
